<!-- Add Event Modal -->
<div
  class="modal fade"
  id="addEventModal"
  tabindex="-1"
  aria-labelledby="addEventModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addEventModalLabel">Add Event</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="add-event-form"
          action="/admin/addEvent"
          method="post"
          class="event-form"
          enctype="multipart/form-data"
        >
          <!-- Title -->
          <div class="mb-3">
            <label for="add-event-title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="add-event-title"
              placeholder="Enter title"
              name="eventName"
            />
            <div id="add-title-error" class="invalid-feedback"></div>
          </div>

          <!-- Date -->
          <div class="mb-3">
            <label for="add-event-date" class="form-label">Date</label>
            <input
              type="date"
              class="form-control"
              id="add-event-date"
              name="eventDate"
            />
            <div id="add-date-error" class="invalid-feedback"></div>
          </div>

          <!-- Time -->
          <div class="mb-3">
            <label for="add-event-time" class="form-label">Time</label>
            <input
              type="time"
              class="form-control"
              id="add-event-time"
              name="eventTime"
            />
            <div id="add-time-error" class="invalid-feedback"></div>
          </div>

          <!-- Duration -->
          <div class="mb-3">
            <label for="add-event-duration" class="form-label">Duration</label>
            <input
              type="text"
              class="form-control"
              id="add-event-duration"
              placeholder="Enter duration (e.g., 2 hours)"
              name="eventDuration"
            />
            <div id="add-duration-error" class="invalid-feedback"></div>
          </div>

          <!-- Location -->
          <div class="mb-3">
            <label for="add-event-location" class="form-label">Location</label>
            <input
              type="text"
              class="form-control"
              id="add-event-location"
              placeholder="Enter location"
              name="eventLocation"
            />
            <div id="add-location-error" class="invalid-feedback"></div>
          </div>

          <!-- Description -->
          <div class="mb-3">
            <label for="add-event-description" class="form-label"
              >Description</label
            >
            <textarea
              class="form-control"
              id="add-event-description"
              placeholder="Enter description"
              name="eventDescription"
            ></textarea>
            <div id="add-description-error" class="invalid-feedback"></div>
          </div>

          <!-- Image -->
          <div class="mb-3">
            <label for="add-event-image" class="form-label">Image</label>
            <input
              type="file"
              class="form-control"
              id="add-event-image"
              name="imageFile"
            />
            <div id="add-image-error" class="invalid-feedback"></div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Add Event</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/addEvent.js"></script>
